
.b-list.mod_download {
	justify-content: center;
	margin-bottom: 10px;
}

.b-list.mod_download .b-list__item a {
	text-decoration: none;
	padding: 10px;
}

.b-list.mod_download .b-list__item a:hover {
	text-decoration: underline;
}
