/* mod_agenda */
.b-section.mod_agenda {
	padding: 20px 0;
	background-color: #19181e;
}

.b-section-download {
	position: absolute;
	top: 0;
	right: 0;
}

@media (max-width: 700px) {
	.b-section-download {
		position: inherit;
		top: auto;
		right: auto;
	}
}