.b-track {
	width: 30%;
}

	.b-track__header {
		height: 40px;
		text-align: center;
		text-transform: uppercase;
	}

	.b-track__item {
		border: 1px solid #19181e;
	}

	.b-track__item.duration_10 {
		height: 70px;
	}
		.b-track__item.duration_10 .b-topic__time {
			display: none;
		}

	.b-track__item.duration_20 {
		height: 140px;
	}

	.b-track__item.duration_30 {
		height: 210px;
	}

	.b-track__item.duration_40 {
		height: 280px;
	}

	.b-track__item.duration_50 {
		height: 350px;
	}

	.b-track__item.duration_60 {
			height: 420px;
		}

	.b-track__item.duration_70 {
		height: 490px;
	}

		.b-track__item .b-topic {
			height: 100%;
		}

@media (max-width: 700px) {
	.b-track {
		width: auto;
	}
}